<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.zee.listeners.CustomListeners" />
	</listeners>

	<test name="Bank Manager Login">
		<classes>
			<class name="com.zee.testcases.BankLogin" />
	 		<class name="com.zee.testcases.VerifURL" />
		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
